# Load db

In [ ]:
%load_ext sql
%config SqlMagic.style = 'PLAIN_COLUMNS'
%sql sqlite:///Chinook_Sqlite.sqlite

# Practice

## Level 1: Beginner - Basic SELECT, WHERE, ORDER BY, LIMIT

### 1.1 Get all information about all tracks.

In [ ]:
%%sql

select * from Track
limit 10

### 1.2 List the names of all artists.

In [ ]:
%%sql

select * from Artist
limit 10

### 1.3 Find all customers from Canada.

In [ ]:
%%sql

select * from Customer 
where Country = 'Canada'
limit 5

### 1.4 List the first 10 tracks, showing their Name and UnitPrice.

In [ ]:
%%sql

SELECT Name, UnitPrice FROM Track LIMIT 10;

### 1.5 Find all employees who are 'Sales Support Agent' and order them by their LastName.

In [ ]:
%%sql

SELECT * FROM Employee
where Title = 'Sales Support Agent'
order by LastName
LIMIT 10

### 1.6. Get the unique list of cities where customers are located.

In [ ]:
%%sql

SELECT distinct City from Customer
LIMIT 10;

### 1.7. Find all invoices with a total greater than $10.00.

In [ ]:
%%sql

SELECT * from Invoice
where Total>10.00
LIMIT 10

## Level 2: Intermediate - AGGREGATE FUNCTIONS, GROUP BY, HAVING, JOINS

### 2.1. Count the total number of tracks.

In [ ]:
%%sql

SELECT count(*) from Track

### 2.2. Find the average UnitPrice of all tracks.

In [ ]:
%%sql

SELECT avg(UnitPrice) from Track

### 2.3. What is the total sales amount from the Invoice table?

In [ ]:
%%sql

SELECT sum(Total) from Invoice

In [ ]:
%%sql